.v-theme--dark {
  --v-theme-background: 39, 40, 34 !important;
  --v-theme-surface: 54, 54, 54 !important;
}

.v-application {
  font-family: Roboto, sans-serif;
  background-color: #272822 !important;

  .v-application__wrap {
    background-color: #272822 !important;
  }
}
.skill-panel-item {
  margin-bottom: 16px;
  background-color: #363636 !important;
  border-radius: 4px;

  .v-expansion-panel-title {
    font-size: 1.25rem;
    font-weight: 500;
  }
}

.v-navigation-drawer,
.v-card,
.v-expansion-panel,
.v-expansion-panel-title,
.v-expansion-panel-text {
  background-color: #363636 !important;
}






