$body-font-family = -apple-system, BlinkMacSystemFont, 'Robot', 'Helvetica Neue', YuGothic, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', Arial, 'メイリオ', Meiryo, sans-serif
// Import Vuetify styling
// @require '~vuetify/src/stylus/app.styl'
